
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-light: #d8d8d8;
  --primary-dark: #0a0c10;
  --primary-red: #a41045;
  --dark-gray: #7d7e80;
  --secondary-red: #892066;
  --header-font:"Raleway", sans-serif;
}

.section-container{
    padding: 0 1rem;
    height: 80vh;
}

a{
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: var(--primary-light);
}

body{
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-family: 'poppins', sans-serif;
}

li{
    list-style: none;
}

h1{
  background: linear-gradient(180deg, rgba(255,255,255,1), rgba(255,255,255,0.38));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p{
  color: var(--dark-gray);
}