
* ,*::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section{
  margin: 4rem 0rem;
}

@media screen and (min-width: 992px){
  section{
    margin: 4rem 5rem;
  }
}

:root {
  --primary-light: #d8d8d8;
  --primary-dark: #0a0c10;
  --primary-red: #a41045;
  --dark-gray: #7d7e80;
  --secondary-red: #892066;
  --header-font:"Raleway", sans-serif;
  --rotation: 2.5rad;
}

.section-container{
    padding: 0 1rem;
    height: fit-content;
}

a{
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: var(--primary-light);
}

body{
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-family: 'poppins', sans-serif;
}

li{
    list-style: none;
}

h1{
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700;
  background: linear-gradient(180deg, rgba(255,255,255,1), rgba(255,255,255,0.38));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p{
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--dark-gray);
}